<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body>
<a href="homeUrl" class="btn btn-success" type="button" style="background-color:blue;border-color:blue";>Add User Details</a>
<table border="2" class="table table-striped">
    <tr>
        <th>
            Name
        </th>
         <th>
            Email
        </th>
        <th>
            Native
        </th>
        <th>
            College
        </th>
        <th>
            CGPA
        </th>
        <th>
            Location
        </th>
        <th>
            Action
        </th>
    </tr>
    {% for mydata in userdata %}
        <tr>
            <td>
                {{ mydata.name }}
            </td>
            <td>
                {{ mydata.email }}
            </td>
             <td>
                {{ mydata.native }}
            </td>
             <td>
                {{ mydata.college }}
            </td>
            <td>
                {{ mydata.CGPA }}
            </td>
             <td>
                {{ mydata.location }}
            </td>
            <td>
        <a href="edituser/{{ mydata.id }}" class="btn btn-warning" type="button" style="colour={red}">Edit</a>
        <a href="deleteuser/{{ mydata.id }}" class="btn btn-danger" type="button">Delete</a>

            </td>
        </tr>
    {% endfor %}
</table>

</body>
</html>